@import "tailwindcss";

.parent-level,
.sub-level {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.719);
  /* overflow: hidden; */
  height: 200px;
}

.parent-level {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
}

.sub-level {
  position: absolute;
  left: 100%;
  width: auto;
}
