@import "tailwindcss";

.menu-item {
  width: auto;
  border: 1px solid transparent;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  /* overflow-x: hidden; */
  transition: border 0.13s ease-in;
}

.menu-item:hover {
  border: 1px solid white;
}
