@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 30rem; /*480px*/
  --color-theme-gray: #232323;
  --font-theme: "Poppins";
  --shadow-theme: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --aspect-theme-product: 2/3;
}

/* ------------------------------
   Global Scrollbar (Thin)
------------------------------ */
@layer base {
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(120, 120, 120, 0.5) transparent;
  }

  /* Chrome / Edge / Safari */
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 9999px;
  }

  /* Dark mode */
  .dark *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.b1 {
  border: 1px solid red;
}

.b2 {
  border: 1px solid green;
}

.b3 {
  border: 1px solid yellow;
}

.b4 {
  border: 1px solid blue;
}
