@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 30rem;
}

.b1 {
  border: 1px solid red;
}

.b2 {
  border: 1px solid green;
}

.b3 {
  border: 1px solid yellow;
}

.b4 {
  border: 1px solid blue;
}
