@import "tailwindcss";

.parent-level,
.sub-level {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.719);
}

.parent-level {
  left: 0;
  min-width: 100%;
}

.sub-level {
  left: 100%;
  width: auto;
}

.menu-item-children {
  height: 0;
  transition: height 2s ease-in;
}
