.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity {
  -moz-appearance: textfield;
}

.quantity:focus {
  outline: none;
}
