@import "tailwindcss";

.active {
  border-color: white;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.menuItem {
  width: auto;
}

.menuItemLink {
  width: auto;
  border: 1px solid transparent;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  transition: border 0.13s ease-in;
}

.menuItemLink:hover {
  border: 1px solid white;
}

.parentLevel {
  @apply top-[100%] left-0 min-w-full;
}

.subLevel {
  @apply -top-1 left-full w-auto pe-1;
}

.menuItemChildren {
  @apply absolute bg-black/50 h-0 opacity-0 -translate-y-5 transition-all duration-[0s] ease-in;
}

.menuOpen {
  @apply transition-all translate-y-0 opacity-100 duration-[0.25s] ease-in;
}
