@import "tailwindcss";

.slider-item {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.slider-arrow {
  transition:
    opacity 1s,
    translate 1s,
    background-color 0.3s;
}

.slider-arrow:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.slide-fade {
  animation: slide-emerge 1s ease forwards;
}

@keyframes slide-emerge {
  from {
    scale: 1.2;
    opacity: 0.7;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
